.char{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgholder{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgholder img{
  border-style: outset;
  border-width: thick;
  border-radius: 0.9em;
  border-color: silver;
}

th{
  color:	#FFFACD;
}



@media (max-width: 575.98px) {
  table{
    font-size: 0.7rem !important;
  }

  th, td{
    padding: 1px !important;
  }

  .container-fluid{
    padding: 1px !important;
  }
}

@media (max-width: 320px) {
  table{
    font-size: 0.6rem !important;
  }
}

@media (max-width: 267px) {
  table{
    font-size: 0.1rem !important;
  }


}

@media (max-width: 227px) {
  table{
    font-size: 0.02rem !important;
  }

}

/*
@media (max-width: 575.98px) {
  table{
    font-size: 0.7rem;
  }
}

@media (max-width: 320px) {
  table{
    font-size: 0.6rem;
  }
}

@media (max-width: 250px) {
  table{
    font-size: 0.14rem;
  }
}
*/
