.char{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgholder{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgholder img{
  border-style: outset;
  border-width: thick;
  border-radius: 0.9em;
  border-color: silver;
  -webkit-transition: transform 0.7s;
  transition: transform 0.7s;
}

.imgholder img:hover{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.desc{
  justify-content: flex-start;
}

th{
  color:	#FFFACD;

}
