@font-face {
    font-family: 'MS UI Gothic';
    src: url('fonts/MS-UIGothic.eot');
    src: url('fonts/MS-UIGothic.eot?#iefix') format('embedded-opentype'),
        url('fonts/MS-UIGothic.woff2') format('woff2'),
        url('fonts/MS-UIGothic.woff') format('woff'),
        url('fonts/MS-UIGothic.ttf') format('truetype'),
        url('fonts/MS-UIGothic.svg#MS-UIGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'MS UI Gothic', Arial;
  font-size: 1.2em;
  background-color: #9ff4fd;
  background-size: cover;
  background-attachment: fixed;
}

#title {
  color: brown;
  text-shadow: 2px 2px 4px gray;
  text-align: center;
  font-size:4em;
}

@media all and (max-width: 320px) {
  h1, #title{
    font-size:2em !important;
  }
}

section, nav, .dropdown-menu {
  background-color: rgba(137, 104, 60, 0.9);
  text-shadow: 2px 2px 4px #000000;
  color: white !important;
}

section, .card, nav, .dropdown-menu{
  border-style: outset;
  border-width: thick;
  border-radius: 1em;
  border-color: #E86100;
}

section{
  display: inline-block;
}

section a, .dropdown-menu a, nav a{
  color: #cde7f0 !important;
  text-shadow: 4px 4px 8px #000000;
}

.active a {
  color: white !important;
}

h2{
  text-align: center;
}

.dropdown-item:hover{
  color: black !important;
  text-shadow: 2px 2px 4px #89683c;
}

.nav-item:hover{
  background-color: rgba(160,82,45, 0.5);
}

.container-fluid, .container{
  margin: 0 !important;
}

footer.container-fluid{
  margin-top: 3% !important;
}


@media all and (max-width: 320px) {
  td, th ,.container-fluid, .card {
    padding: 1px !important;
  }
}
