body > div {
  display: flex;
  justify-content: center;
}

.modal-body, .modal-header, .modal-footer{
  background: linear-gradient(to bottom right, #e2a738, white) !important;
  color:black;
}
.card{
  background: radial-gradient(circle, #89683c, #a36d45);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.btn {
  animation-name: to_gradient;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes to_gradient {
  0% {
    background-image: radial-gradient(blue, #551A8B);
  }

  100%{
    background-image: radial-gradient(blue, black);
  }
}
